################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Better Fullscreen/obj/Debug
/Better Fullscreen/obj/Debug
/Better Fullscreen/obj
